div.cartCard{
    background-image: url('../../assets/img/cartBckg.png');
    border: solid black 5px;
    margin-bottom: 20px;
    height: 372px;
}
img.imgCart{
    position: relative;
    left: -730px;
    top: 95px;
    width: 10%;
}
div.cartMapElse{
    background-color: white;
    border: solid black 5px;
}
div.contentCart{
    background-color: white;
    border: solid black 5px;
    position: relative;
    top: -97px;
    left: 633px;
    right: 0px;
    width: 36%;
}
p.nombreCart{
    font-size: 33px;
    font-weight: bold;
}
p.qtyCart{
    font-size: 22px
}
p.precioCart{
    font-size: 22px
}
button.buttonCart{
    position: relative;
    top: -219px;
    left: 666px;
    padding: 20px;
    width: 12%;
}
button.vaciarButton{
    position: absolute;
    top: 61px;
    width: 15%;
    padding: 10px;
    left: 1488px;
}