div.divCount{
    background-color: gray;
    height: 124px;
    width: 335px;
    position: relative;
    left: 1106px;
    top: -100px;
    border: solid black;
}
label.labelCount{
    font-size: 20px;
    border: solid black 4px;
    padding: 8px;
    background-color: white;
    font-weight: bold;
    position: relative;
    left: 92px;
    top: 10px;
    width: 14%;
}
Button.buttonMas{
    position: relative;
    top: 10px;
    left: 130px;
    height: 30%;
    width: 18%;
}
Button.buttonMenos{
    height: 30%;
    width: 18%;
    position: relative;
    top: 10px;
    left: -115px;
}
Button.buttonReset{
    height: 18%;
    width: 18%;
    position: relative;
    top: 90px;
    left: -107px;
    visibility: hidden;
}
Button.buttonCarrito{
    position: relative;
    top: 13px;
    width: 82%;
}