div.divCount{
    background-color: rgb(253, 205, 102);
    height: 250px;
    width: 420px;
    position: relative;
    left: 740px;
}
label.labelCount{
    font-size: 35px;
    border: solid black 4px;
    padding: 8px;
    background-color: white;
    font-weight: bold;
    position: relative;
    left: 111px;
    top: 30px;
    width: 14%;
}
Button.buttonMas{
    position: relative;
    top: 90px;
    left: 165px;
    height: 18%;
    width: 18%;
}
Button.buttonMenos{
    height: 18%;
    width: 18%;
    position: relative;
    top: 90px;
    left: -150px;
}
Button.buttonReset{
    height: 18%;
    width: 18%;
    position: relative;
    top: 90px;
    left: -107px;
}
Button.buttonCarrito{
    position: relative;
    top: 100px;
    width: 82%;
}